body {
  background: rgb(58,136,180);
  background: linear-gradient(90deg, rgba(58,136,180,1) 0%, rgba(44,98,190,1) 24%, rgba(29,210,253,1) 50%, rgba(47,253,143,1) 73%, rgba(94,252,69,1) 100%);
}

body .header .first img {
  height: 50px;
  width: auto;
}
ul {
  list-style: none;
  list-style-type: none;
}
a {
  text-decoration: none;
}
.header {
  margin: 4em;
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  grid-template-rows: 1fr;
}
.header .first, .second, .third {
  border-style: solid;
  border-color: white;
}
.header .first {
  display: flex;
  flex-direction: row;
}
body .header .second ul {
  display: flex;
  flex-direction: row;
  color: white;
}
body .header .third img {
  height: 50px;
  width: auto;
}
body .shibuya .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .shibuya .top img {
  height: 60px;
  width: auto;
  transform: rotate(140deg);
  border-color: white;
  border-radius: 50%;
  border-style: solid;
}
h3 {
  color: white;
  font-size: 120px;
  font-family: Verdana, sans-serif;
}
.crossing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
